#esquerda {
	width: 300px;
	height: 570px;
	float:left;
}
#direita {
	width: 900px;
	height: 574px;
	float:left;
}
.elementLeft{

	margin-left: 10px;
	width: 280px;
}
.leftRegion{
	width: 300px;
	height: 190px;
}
.mainRegion{
	border-width: 1px;
	border-style: solid;
	border-color: #00f;
}